// Todos mis imports
@import 'variables';
@import 'global';

html, body {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.75em;
  background-color: #001000;
}

.navbar {
  background-color: #001000 !important;
}

ul li a { color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.footer__a {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  padding: 20px 20px;
  a {
    padding: 10px 10px;
  }
}

.galeria__items {
  border-radius: 5px;
  padding: 5px;
}

.main__titulo { text-align: center;
  margin-top: 15px;
}

.main__text { text-align: justify;
    color: white;
    margin: 0px 50px;
    padding: 10px 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-gap: 5px;
  align-items: center;
}

.item img {
  max-width: 100%
}

.two {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 3;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3 / 4;
}

 p, h2, label {
   color: white;
 }
